.banner {
    background-image: url("../images/Rectangle%204012.svg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;

    &__content {
        width: 52%;
        color: white;

        p {
            font-size: 14px;
        }
        @include mobile {
            width: 100%;
        }
    }
}