.form {
    display: block;
    width: 100%;
    h1 {
        margin: 0;
        color: $violet;
    }

    &__section {
        background: white;
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .input_margin_bottom {
        margin-bottom: 20px;
    }
    .input__box, .phonenumber_box, .select_box {
        width: calc(50% - 16px);
        margin: 8px;
    }
}