.bluecard {
    box-sizing: border-box;
    background-color:#071D31;
    color: white;
    padding-bottom: 16x;
    padding-top: 35px;
    
    &__innerbox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px !important;
        &__subheader {
            box-sizing: border-box;
            // background-color: yellow;
            width: 23%;
            color: white;
            padding-top: 5px;
            padding-bottom: 15px;
    
            h5 {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.8;
                margin-bottom: 0;
            }
    
            h2 {
                font-weight: 600;
                font-size: 28px;
                margin: 0;
            }
        }
    
        &__para {
            box-sizing: border-box;
            padding-top: 15px;
            display: flex;
            align-items: center;
            // background-color: grey;
            color: white;
            opacity: 0.8;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .bluecard__contentwrap {
        display: flex;
        flex-wrap: wrap;

        &__backgroundimage {
            background-image: url("../images/image%2022.svg");
            background-size: cover;
            // background-color: red;
            // height: 100%;
            width: 25%;
            height: 500px;
        }

        &__wrapboxes {
            // background: yellow;
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: column;

            &__bluewrap {
                background: #03549F;
                margin-left: 15px;
                width: 96%;
                padding: 30px 25px 30px 25px;

                p {
                    font-size: 14px;
                }

                &__data_img {
                    // background-color: salmon;
                    padding-bottom: $padding-three;
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        border-left: 3px solid $blucard-blue;
                        font-size: 20px;
                        font-weight: 600;
                        padding-left: 10px;
                        margin: 0;
                    }
                }

                .batch_wraper {
                    // background-color: burlywood;
                    // height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__firstwrap {
                        // background-color: cadetblue;
                        display: flex;
                        justify-content: space-between;
                        width: 45%;
                        // height: 30px;
                        &__batchbox {

                            p {
                                margin-bottom: 0;
                                font-weight: 400;
                                font-size: 14px;
                                opacity: 0.6;
                            }

                            h4 {
                                margin-top: 0;
                                margin-bottom: 0;
                                font-size: 16px;
                            }
                        }
                    }
                    .button {
                        background: $blucard-blue;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        border: none;
                        color: white;
                        font-weight: 500;
                        font-size: 16px;
                    
                        &__image {
                            height: 20px;
                            margin-left: 8px;
                        }
                        
                    }
                }
            }

            &__bluebatch {
                // background: rgb(67, 59, 59);
                // width: 100%;
                margin: 15px;
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                &__engineerwraper {
                    box-sizing: border-box;
                    // margin: 10px;
                    background-color: #072846;
                    width: calc(50% - 15px);
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;

                    .columnbox {
                        // background-color: rgb(48, 43, 43);

                        p {
                            margin-bottom: 0;
                            font-weight: 400;
                            font-size: 14px;
                            opacity: 0.6;
                        }
    
                        h4 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }    
}
@include mobile {
    .bluecard__contentwrap__backgroundimage, .bluecard__contentwrap__wrapboxes {
        width: 100% !important;
    }
    .bluecard__innerbox__subheader {
        width: 100%;
    }

}